@import '../../styles/variables.scss';

.MovieDetail {
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.MovieDetail__wrapper {
  // margin: 0 auto;
  margin: 0 $spacing-2;
  max-width: 720px;
  padding-top: $spacing-2;
}

.MovieDetail__poster {
  height: 240px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.MovieDetail__content {
  padding: $spacing-2;
}

.MovieDetail__firstLine {
  display: flex;
}

.MovieDetail__year {
  font-size: $font-s;
  font-weight: $font-weight-reg;
  margin-left: $spacing-05;
}

.MovieDetail__score {
  color: $primary-color;
  font-size: $font-l;
  margin-left: auto;
}

.MovieDetail__directorRuntime {
  color: $text-secondary;
  font-size: $font-s;
  font-weight: $font-weight-reg;
  margin-top: $spacing-05;
}

.MovieDetail__overview {
  color: $text-secondary;
}

@media (min-width: 768px) {
  .MovieDetail__wrapper {
    margin: 0 auto;
  }
}
