@import '../../styles/variables.scss';

.Header {
  align-items: center;
  background-color: $dark-bg;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  height: 64px;
  margin: 0 $spacing-2;
  list-style: none;
}

.Header__item {
  display: flex;
  padding: 16px;
}

.Header__item a {
  color: $white;
  text-decoration: none;
}

.Header__menuIcon {
  color: $white;
  display: flex;
  padding: 0;
}

.Header__logo {
  padding: 0;
}

.Header__appName {
  font-size: $font-xl;
}

.Header__tabLink {
  display: none;
}

.Header__item:last-of-type {
  margin-left: auto;
  padding-right: 0;
}

@media (min-width: 768px) {
  .Header {
    margin: 0 $spacing-4;
  }

  .Header__menuIcon {
    color: $white;
    display: none;
    padding: 0;
  }

  .Header__tabLink {
    display: inline;
  }
}
