@import '../styles/variables.scss';

.App {
  background-color: $dark-bg;
  border: $spacing-2 solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(195, 42, 255, 1) 0%,
    rgba(29, 115, 254, 1) 50%,
    rgba(14, 204, 147, 1) 100%
  );
  border-image-slice: 1;
  font-family: $base-font;
  height: calc(100vh - 32px);
  overflow: scroll;
}
