@import '../../styles/variables.scss';

.Movie {
	background-color: $white;
	border-radius: 4px;
	display: flex;
	margin-bottom: 16px;
}

.Movie__poster {
	max-width: 140px;
	width: 25%;

	img {
		height: 100%;
		width: 100%;
	}
}

.Movie__content {
	width: 100%;
	padding: $spacing-2;
}

.Movie__firstLine {
	display: flex;
}

.Movie__yearDirector {
	color: $text-secondary;
	font-size: $font-s;
	font-weight: $font-weight-reg;
	margin-left: $spacing-1;
}

.Movie__score {
	color: $primary-color;
	font-size: $font-l;
	margin-left: auto;
}

.Movie__overview {
	color: $text-secondary;
}

.Movie__buttonWrapper {
	margin-top: $spacing-1;
}
