@import '../../styles/variables.scss';

.Discover {
  margin-top: 80px;
}

.Filters {
  margin: $spacing-4 $spacing-3;
}

.Filter__Label {
  color: $white;
  font-weight: $font-weight-med;
}

.Filter__Slider {
  margin-left: auto;
  margin-right: auto;
  width: 98% !important;
}

.Discover__loadMore {
  display: flex;
  justify-content: center;
  margin: $spacing-4 auto;
  max-width: 720px;
}

@media (min-width: 768px) {
  .Discover {
    margin-top: 96px;
  }

  .Filters {
    margin: $spacing-4 auto;
    max-width: 720px;
  }
}
