@import '../../styles/variables.scss';

.Discover {
  height: 100%;
}

.Discover__filters {
  max-width: 624px;
  margin: $spacing-4 auto;
  width: 60%;
}

.Discover__loadMore {
  display: flex;
  justify-content: center;
  margin: $spacing-4 auto;
  max-width: 624px;
  width: 60%;
}

.MovieContainer {
  margin: $spacing-4 auto 0 auto;
  max-width: 624px;
  width: 60%;
}
