@import './variables.scss';

/* font style defaults */

body {
  line-height: 1.5;
}

h1 {
  font-size: $font-l;
  font-weight: $font-weight-med;
}

p {
  font-size: $font-m;
}

/* layout helper classes */
.flex {
  display: flex;
}

.flex--jc--c {
  justify-content: center;
}

.flex--ai--c {
  align-items: center;
}

.flex-g-1 {
  flex-grow: 1;
}

/* spacing helper classes */

.mb1 {
  margin-bottom: $spacing-1;
}

.ml1 {
  margin-left: $spacing-1;
}

.mr1 {
  margin-right: $spacing-1;
}

.mt1 {
  margin-top: $spacing-1;
}

.mt2 {
  margin-top: $spacing-2;
}

.mt3 {
  margin-top: $spacing-3;
}

.mt4 {
  margin-top: $spacing-4;
}
