@import './variables.scss';

/* font style defaults */

body {
	line-height: 1.5;
}

h1 {
	font-size: $font-l;
	font-weight: $font-weight-med;
}

p {
	font-size: $font-m;
}

/* spacing helper classes */

.ml1 {
	margin-left: $spacing-1;
}

.mt1 {
	margin-top: $spacing-1;
}
